#tituloHeader {
    color: black;
}

.navbar-light .navbar-nav .active > .nav-link {
    color: #0cac1c;
}
.col {
    padding: 7%;
    padding-top: 5%;
}

* {
    box-sizing: border-box;
}

#button {
    background-color: #04aa6d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    align-items: center;
}

button:hover {
    opacity: 1;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
p {
    font-size: 13px;
    color: rgb(255, 255, 255);
}
#player {
    display: block;
    margin: 0 auto;
}
body {
    background-image: url("img/floresta.png");
    background-size: cover;
    background-repeat: no-repeat;
}
#sobre h1 {
    text-align: center;
    text-transform: uppercase;
}
#sobre h2 {
    text-align: center;
    color: #0cac1c;
    font-size: 30px;
}
#sobre p {
    text-align: center;
    font-size: 20px;
}
img {
    text-align: center;
  }
#container h1 {
    text-align: center;
    color: #0cac1c;
}
#container p {
    text-align: center;
    color: black;
}

iframe {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

p {
    color: black;
}
